{
  "openapi": "3.1.0",
  "info": {
    "title": "Exporter Country Facts API",
    "description": "One call per country for exporters and credit teams: OECD country risk grade and its latest change, UK Export Finance cover policy, MIGA guarantee exposure, governance and macro indicators, and Enterprise Survey figures on trade credit, bank credit and bribery. Compare up to 10 countries or rank them by any indicator.",
    "version": "0.1.0"
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/countries/{code}": {
      "get": {
        "summary": "Everything published about selling on credit into one country",
        "operationId": "countryProfile",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Code"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compare": {
      "get": {
        "summary": "Headline figures for up to 10 countries side by side",
        "operationId": "compareCountries",
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated ISO codes, up to 10, e.g. VN,NG,AR,KR",
              "title": "Countries"
            },
            "description": "Comma-separated ISO codes, up to 10, e.g. VN,NG,AR,KR"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rankings": {
      "get": {
        "summary": "All countries ordered by one indicator",
        "operationId": "rankCountries",
        "parameters": [
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Indicator id from GET /v1/indicators, e.g. wgi_rule_of_law",
              "title": "Indicator"
            },
            "description": "Indicator id from GET /v1/indicators, e.g. wgi_rule_of_law"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "desc (highest first) or asc",
              "default": "desc",
              "title": "Order"
            },
            "description": "desc (highest first) or asc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "1–250",
              "default": 50,
              "title": "Limit"
            },
            "description": "1–250"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicators": {
      "get": {
        "summary": "Indicators, sources and freshness",
        "operationId": "Indicators",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "servers": [
    {
      "url": "https://exporter-country-facts.p.rapidapi.com",
      "description": "RapidAPI gateway"
    }
  ]
}